@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Productos:</h1>
    <p>Learn about <a href="../Producto/Index.cshtml">Lista de productos</a>.</p>
</div>
